<div class="navbar">
<a href="/categories" class="nav_element"> Categories </a>
<a href="/profiles" class="nav_element"> Profiles </a>
<a href="/profiles/<%=session[:user].id%>" class="nav_element"> Your profile </a><br><br>
<a href="/logout" class="nav_element"> Logout </a>
</div>
<form method="POST">
  <input type="hidden" name="_method" value="PUT">
  Title: <input type="text" name="name" value=<%= @item_to_edit.name %>><br>
  Description: <textarea name="description"><%= @item_to_edit.description %></textarea><br>
  Price: <input type="text" name="price" value=<%= @item_to_edit.price %>><br>
  Photo: <input type="text" name="photo_url" value=<%= @item_to_edit.photo_url %>><br>

  <input type="submit" value="Update">
</form>