<h2><%= @item_to_display.name %></h2>
Description: <%= @item_to_display.description %><br>
Price: <%= @item_to_display.price %><br>
<% if @item_to_display.photo_url != "" || @item_to_display.photo_url != nil %>
  Photo: <img src="<%= @item_to_display.photo_url %>">
  <% puts @item_to_display.photo_url %>
<% end %>

<% if session[:user].items.include?(Item.find(params[:id]))%>
  <a href="/categories/<%= params[:category_id] %>/items/<%= params[:id] %>/update">Edit</a>
<% end %>