<h1> Edit your profile settings ! </h1>
<ul>
  Your name is <%= @user.name %>
<li> want to edit your name ? </li>
<form action="/edit_name" method="post">
  <input type="text" name="name">
  <input type="submit" value="change">
</form>
<br>
Your email is <%= @user.email %>
<li> want to edit your email ? </li>
<form action="/edit_email" method="post">
  <input type="text" name="email">
  <input type="submit" value="change">
</form><%= @message_email %>
<br>
<li> want to edit your password ? </li>
<form action="/edit_password" method="post">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  confirm
  <input type="submit" value="change">
</form><%= @message_password %>
</ul>



<a href="../../profiles/<%= @user.id %>"> Go back to your profile </a>
