<% if session[:user].id == @user.id%>
  <h1> Your profile </h1>
  <img src="<%=@user.photo_url%>" class="profile_picture" style="width:20%; border-radius: 150px;">
  <p> Here's a list of your items : </p>
  <ul>
  <% @user.items.each do |item| %>
  <li> <a href="../categories/<%= item.category_id%>/items/<%=item.id%>"><%= p item.name %></a> </li>
  <% end %>
  <a href="/profiles/<%=@user.id%>/edit"> Edit your profile </a>
  </ul>

  <a href="/profiles/<%= @user.id%>/new_item">Add an item!</a>



<% else %>

  <h1> Welcome to <%= @user.name %>'s page </h1>
  <img src="<%=@user.photo_url%>" class="profile_picture" style="width:20%; border-radius: 150px;">
  <p> Here's a list of <%= @user.name %>'s items : </p>
  <ul>
  <% @user.items.each do |item| %>
  <li> <a href="../categories/<%=item.category_id%>/items/<%=item.id%>"><%= p item.name %></a> </li>
  <% end %>
  </ul>
<%end %>
